/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #171717;
    color: #fff;
}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #171717;
    position: sticky;
    top: 0;
    z-index: 10000;
}


.logo {
    text-decoration: none;
}

.logo h1 {
    font-size: 28px;
    color: #fff;
}

.logo h1 span {
    color: #ffe100;
    margin-left: 5px;
}

.nav-center {
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: center;
    margin-left: 150px;  /* pushes the nav toward right */
    
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #ffe100;
    font-weight: bold;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}


.search-input {
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: #fff;
}


.signup-btn,
.logout-btn {
    padding: 8px 20px;
    background-color: #242424;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover,
.logout-btn:hover {
    background-color: #ffe100;
    color: #000;
}


.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 20000;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    background: #fff;
    color: #000;
    width: 90%;
    max-width: 420px;
    padding: 30px;
    border-radius: 12px;

    position: fixed;         
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);

    transition: 0.3s;
}

.popup.active .popup-content {
    transform: scale(1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #888;
    padding: 2px 8px;
    border-radius: 50%;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;

}

.form-element {
    margin-bottom: 15px;
}

.form-element input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.form-element button {
    width: 100%;
    padding: 10px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-element button:hover {
    background: #ffe100;
    color: #000;
}

.switch {
    text-align: center;
}

.switch a {
    color: #1a79ca;
    font-weight: 600;
    text-decoration: none;
}

.profile-link a {
    color: #ffffff;       
    text-decoration: none; 
    font-weight: 500;      
}

.profile-link a:hover {
    color: #f0f0f0;       
}