.series-hero {
    display: flex;
    gap: 60px;
    padding: 80px 7%;
    background-color: #141414;
    color: #eaeaea;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-left {
    width: 320px;
}

.hero-left img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    margin-top: 20px; 
    position: absolute;
}

.btn-watch {
    background-color: #ffe100;
    color: #000;
    padding: 10px 26px;
    border-radius: 22px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: opacity 0.2s;
}

.btn-watch:hover {
    opacity: 0.9;
}

.btn-fav {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 22px;
    border-radius: 22px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn-fav:hover {
    background-color: #3a3a3a;
}

.hero-right {
    max-width: 760px;
}

.hero-title {
    font-size: 46px;
    font-weight: 700;
    color: #f5c400;
    margin-bottom: 12px;
}

.hero-desc {
    font-size: 15px;
    line-height: 1.7;
    color: #cfcfcf;
    margin-bottom: 18px;
}


.info-block p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #d8d8d8;
    
}

.info-block span {
    font-weight: 600;
    color: #ffffff;
}

